<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="file" xsi:type="File" layout="${longdate} ${message}" fileName="${basedir}/ApplicationData/logs/tims.txt" archiveFileName="${basedir}/ApplicationData/logs/tims.{####}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    <target xsi:type="Debugger" name="DebugConsole" layout="[${uppercase:${level}}][${logger}] ${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="Console" layout="[${uppercase:${level}}][${logger}] ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="DebugConsole" />
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
  
</nlog>

